
@keyframes inOut{
  
  25% {transform:scale(.9);}
  50% {transform:scale(1);}
  75% {transform:scale(1.05);}
  100% {transform:scale(1);}
}
.Post:hover {
  
  text-decoration: none;
  }
  .Post{
    margin: 0px;
    color: #ff9642;
    background:#f3d5b223;
    box-shadow: 1px 1px 5px 0px #1111116c;
    text-decoration:none;
  }
  .postTitle{
    color: #ff9642;
  }
  .postTitle:hover{
    text-decoration: unset;
  }
.postImg{
  width: 15rem;
  height: 11rem;
  padding: 10px;
  text-align: center;
 
}
.postImg:hover{
animation-name: inOut;
animation-duration: .5s;
animation-timing-function: linear;
}

.postsRow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 130px 30px 130px;

}
.item{
  margin: 0px;
}

.bar {
display: flex;
flex-direction: column;
justify-content: space-around;
flex-wrap: wrap;
margin: 0px 15px 0px 15px;
}


.footerBackground{
background-color: #88b4e7;
}
.Btn{
left: 0;
}
.icons{
display: flex;
flex-direction: row;
justify-content: space-evenly;
right: 0;
}
.price{
margin-left: -150px;
}
.icon{
margin-top: 5px;
margin-right: -150px;

}
Link:hover{
text-decoration: none;
}

/*////////////////////////////////////Details///////////////////////////////////////////*/
.containerPostDetails{
display: flex;
flex-direction: row-reverse;
align-items:center ;
flex-wrap: wrap;
}

.containerDetails{
  display: flex;
  flex-direction: column;
  border: thin;
  margin: 20px;
  background-color: #fffcd7;
  padding: 30px;
  border-radius: 10px;
  max-width: 750px;
} 


.containerUserInfo{
  justify-content: right;
  justify-items: right;
  margin: 20px;
  float: right;
  background-color: #fffcd7;
  padding: 30px;
  border-radius: 10px;
  min-width: 300px;
}
.dynamicDetails{
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
justify-content: flex-start;
background-color: rgba(213, 217, 221, 0.733);
margin-bottom: 20px;
}
.dynamicDetails label{
margin: 5px;
}
.description{
display: flex;
flex-direction: column;
text-align: right;
}
.rounded-circle{
float: right;
}
.Info{
margin: 5px;
float: left;
text-align: right;
}
.carousel{
width: 90%;
float: right;
margin: 15px;
margin-bottom: 30px;
}
.detailsPrice{
justify-content: right;
  justify-items: right;
  margin-top: 60px;
  float: right;
  border: thin;
  border-color: #ff9642;
  border-style: solid;
  padding: 30px;
  float: inline-start;
}

element.style {
}
.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}
.k{
  color: #ff9642;
}
