.comment-component{
    margin-left: 250px;
}
.main-comment-div {
    display: flex;
    justify-content: flex-end;
 
  /*  background-color: bisque;*/
    padding: 13px;
    align-content: end;
}
.color-comment {
    background-color: rgb(255, 255, 255);
    /* justify-content: space-around; */
    width: 40%;
    border-radius: 40px;
    margin-top: 20px;
    /* margin-left: 309px; */
    justify-content: center;
    margin-right: 40px;
}
.comment_bubble {
    /* margin-left: 30px; */
    min-width: 272px;
    /* max-width: 300px; */
    border-radius: 25% 11% 25%;
    /* min-height: 50px; */
    /* padding: 25px; */
    position: relative;
    /* justify-content: end; */
    /* padding: 20px; */
    text-align: end;
    padding-right: 17px;
    padding-top: 15px;
    padding-bottom: 7px;
    margin-top: 14px;
    margin-right: 9px;
    margin-bottom: 21px;
}
.timeBorder {
    /* FONT-WEIGHT: 100; */
    color: rgb(247 161 0);
    /* background-color: blanchedalmond; */
    /* text-align: center; */
    /* width: 60px; */
    /* padding-left: 25%; */
    margin-top: -33px;
    font-size: 14px;
    text-align: end;
    margin-right: 295px;
}
.avatar {
    /* margin-top: 5px; */
    /* height: 60px; */
    max-width: 60px;
    border-radius: 50%;
    padding: 0px;
    /* margin-left: 57px; */
    /* margin-top: 30px; */
    border: 1px solid rgb(255 150 66 / 55%);
}
body{
    background-color:rgb(240, 242, 245);
}
.comment-body {
    margin-right: 15px;
    color: #fd7f65;
}