.containerCart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.cartsContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);

}

.cartPost{
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
    justify-content: space-between;
    border-radius: 10px;
    padding: 8px;
    margin: 3px;
    background-color: #e0e0e450;
    align-items: center;
    box-shadow: 0px 5px 20px 1px rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
     margin-top: 20px;
}
.cartPost img{
    height: 130px;
    width: 180px;
    border-image: round;
}
.cartPost div p{
    font-size: 12px;
}
.cartPost h6{
    text-align: right;
}

.cartPostInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    width: 95%;
    margin: 0px 10px 0px 0px;
    border-radius: 5px;
    background-color: #e0e0e450;
}
.cartPostInfo2{
    display: flex;
    flex-direction: row-reverse;
    
}
.cartPostInfo2 p{
    margin: 0px 1% 0px 10px;
    padding: 4px;
    padding-left: 2%;
}
@media (max-width : 1340px){
    .cartsContainer{
        width: 55%;
    }
}
@media (max-width : 1240px){
    .cartsContainer{
        width: 60%;
    }
}
@media (max-width : 1140px){
    .cartsContainer{
        width: 65%;
    }
}
@media (max-width : 1040px){
    .cartsContainer{
        width: 70%;
    }
.total{
        margin-left: -58%;
    }
}
@media (max-width : 940px){
    .cartsContainer{
        width: 75%;
    }
    
}
@media (max-width : 840px){
    .cartsContainer{
        width: 80%;
    }
    .cartPost img{
        height: 110px;
        width: 160px;
        border-radius: 20px;
    }
    .total{
        margin-left: -18%;
    }
}
@media (max-width : 740px){
    .cartsContainer{
        width: 85%;
    }
    .cartPost img{
        height: 100px;
        width: 140px;
        border-radius: 20px;
    }
    
    
}
@media (max-width : 640px){
    .cartsContainer{
        width: 90%;
    }
    .cartPost img{
        height: 90px;
        width: 120px;
        border-radius: 20px;
    }
}
@media (max-width : 540px){
    .cartsContainer{
        width: 95%;
    }
    
} 
.submit{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    border-radius: 5px;
    padding: 8px;
    justify-self: center;
    margin: 3px;
}
.submit button{
    width: 20%;
    margin: 5px;
}
.cartPostInfo3{
    display: flex;
    flex-direction: column;
}
.cartPostInfo3 p{
    margin: 0px 1% 0px 10px;
    padding: 4px;
    padding-left: 2%;
}
.cartPostInfo3 button{
    width: 100%;
    margin: 2px;
    font-size: 13px;
} 
.total{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    margin-left: -60%;
}
.total label{
    margin: 10px 0 10px 0px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #b5b5b8b9;
    
}
.total h5{
    text-align: right;
    margin: 10px 0 10px 10px;
    border: 2px  solid #b5b5b8b9;
    border-right: unset;
    padding: 10px;
    border-radius: 5px;
    color: #ff9642;
}
.count{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    
}
.count div{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.count div button{
    width: 100%;
    margin: 2px;
    font-size: 13px;
    border-radius: 50px;
    padding-top: 10px;
}
.count h4{
    margin-bottom: -5px;
}

.vl {
    border-left: 1px solid rgb(182, 181, 181);
    height: 5px;
  }
.switch{
    margin-bottom: -10px;
}


