.containerOrders{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.ordersContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 10px;
    align-items: center;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);

}
.usreOrderInfo{
    display: flex;
    flex-direction: row-reverse;
    margin-right: -50%;
    align-items: center;
    margin-top: 15px;
}
.usreOrderInfo img{
    height: 50px;
    width: 50px;
    border-image: round;
    margin-left: 10px;
}
@media (max-width : 1340px){
    .ordersContainer{
        width: 55%;
    }
}
@media (max-width : 1240px){
    .ordersContainer{
        width: 60%;
    }
}
@media (max-width : 1140px){
    .ordersContainer{
        width: 65%;
    }
}
@media (max-width : 1040px){
    .ordersContainer{
        width: 70%;
    }
}
@media (max-width : 940px){
    .ordersContainer{
        width: 75%;
    }
}
@media (max-width : 840px){
    .ordersContainer{
        width: 80%;
    }
}
@media (max-width : 740px){
    .ordersContainer{
        width: 85%;
    }
}
@media (max-width : 640px){
    .ordersContainer{
        width: 90%;
    }
}
@media (max-width : 540px){
    .ordersContainer{
        width: 95%;
    }
} 
.orderPost{
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
    justify-content: space-between;
    border-radius: 10px;
    padding: 8px;
    margin: 3px;
    background-color: #e0e0e450;
    align-items: center;
    box-shadow: 0px 5px 20px 1px rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);

}
.orderPost img {
    height: 100px;
    width: 140px;
    border-image: round;
}


.orderPost div p{
    font-size: 12px;
}
.orderPost h6{
    text-align: right;
}
.count{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    
}
.orderSubmit{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.orderSubmit button{
    margin: 2px;
    border-radius: 50px;
}