
.main-body {
    padding: 15px;
    flex-wrap: wrap-reverse;
}
.container{
    flex-wrap: wrap-reverse;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}


.cardddd{
    top :10px;
}





.addImage{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 90px;
    overflow: hidden;
    border-radius: 100%;
    right: 0;
    color: #fff;
    background-color: #5b5b5b;
    font-size: 17px;
    padding: 4px;
    border: solid 2px #fff;
    z-index: 1;
    cursor: pointer;
}
.rounded-circle{ 
    backface-visibility: hidden;
}
.uploadImg{
    position: relative;
    background-color: #fff;
    width: 135px;
    height: 135px;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-left: 60px;
}
.imgInput{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 90px;
    overflow: hidden;
    border-radius: 100%;
    right: 0;
    color: rgba(255, 255, 255, 0);
    background-color: #5b5b5b00;
    font-size: 17px;
    padding: 4px;
    border: solid 2px #fff;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 2.2rem;
    color: #ff9642;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

/*****************************************************/

.profileContainer{
    display: flex;
    justify-items: center;
    flex-direction: row-reverse;
    margin: 20px 50px 50px 50px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.userInfo{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    margin-bottom: 10px;
}
.userPostContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
}
@media (max-width: 776px){
    .userPostContainer{
        width: 84%;
    }
}
.userPost{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}