
  .ul__list--inline {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .ul__list--inline > li {
    display: inline-block;
  }
  
  .ul__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sosmed__list li a {
    width: 40px;
    height: 40px;
    transition: 0.5s;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: black;
  }
  .sosmed__list li a:hover {
    color: white;
    text-decoration: none;
    background-color: black;
    box-shadow: 0px 10px 20px #3e3c3c7a;
  }
  .sosmed__list li a i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .sidebar__navbar {
    
    height: 200%;
    position: fixed; 
    margin-top: -40px;
    background-color: #ff9642;
    box-shadow: 0px 0px 20px 1px #cacaca;
    width: 0;
    left: -100%;
    z-index: 999;
    transition: 0.5s ease;
    /*clip-path: polygon(0 0, 50% 0, 84% 38%, 84% 66%, 56% 100%, 1% 100%, 0% 80%, 0 52%);*/
    }
      @media screen and (max-width: 768px) {
        .sidebar__navbar div {
          z-index: 99;
        }
    }
      @media screen and (max-width: 768px) {
        .sidebar__navbar span {
          position: fixed;
          left: -100%;
          transition: 0.5s ease;
        }
  }
  .sidebar__navbar.active {
    width: 250px !important;
    left: 0;
  }
  @media screen and (max-width: 768px) {
    .sidebar__navbar.active span {
      content: "";
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 40;
      background-color: #0808081f;
    }
  }
  .sidebar__content {
    transition: 0.5s ease;
  }
  .sidebar__side {
    background-color:   #fffce73b;
    box-shadow: 0px 0px 5px 1px #cacaca;
    border-bottom: 1px solid #b1b1b1;
  }
  .sidebar__list--menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar__list--menu li {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .sidebar__list--menu li a {
    padding: 6px 6px;
    color: white;
    display: inline-block;
    width: 100%;
  }
  .sidebar__list--menu li a.active {
    background-color: #ffffff26;
    border-radius: 33px;
  }
  .sidebar__list--menu li:hover a {
    color: white;
    text-decoration: none;
    background-color: #ffffff26;
    border-radius: 33px;
  }
  
  .sidebar__navbar.active ~ .sidebar__content {
    margin-left: 250px;
    transition: 0.5s ease;
    }
      @media screen and (max-width: 768px) {
        .sidebar__navbar.active ~ .sidebar__content {
          margin-left: 0;
      }
  }
  
  .navabar__menu {
    
    width: 40px;
    height: 40px;
    color: white;
    /*background-color: #ff9642;*/
    background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
    font-size: 18px;
    border-radius: 5px;
  }
  .navabar__menu i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navabar__menu:hover, .navabar__menu:focus {
    color: white;
  }
  
  .brand__sidebar {
    color: #313131;
  }
  
  .Input:focus{
    border-color:#ff9642;
}
.nav2{
  background-color:   #fffce73b;
  box-shadow: 0px 0px 5px 1px #cacaca;
  border-bottom: 1px solid #b1b1b1;
  height: 50px;
}
.nav2 ul{
  list-style: none;
  position: relative;
  margin-right: 40px;
  color: #ff9642;
  font-size: 1.25rem;
}
.navUl{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.nav2 ul li{
  margin: 7px 50px 7px 50px;
}
@media (max-width : 700px){
  .nav2 ul li{
    margin: 7px 30px 7px 30px;
    font-size: 1.05rem;
  }
}
.nav2 ul li:hover{
  border-bottom: 1px solid #ff9642;
  background-color: #ff97420a;
  border-radius: 4px;
  padding: 4px 20px 4px 20px;
  transition : 0.4s ease-in-out;
}
.navLink:hover{
  cursor: pointer !important;
  color: unset !important;
 text-decoration: none !important;
 cursor: pointer !important;
}
.navLink{
  cursor: pointer !important;
  color: unset;
}
