
  .ul__list--inline {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .ul__list--inline > li {
    display: inline-block;
  }
  
  .ul__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sosmed__list li a {
    width: 40px;
    height: 40px;
    transition: 0.5s;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    font-size: 30px;
    color: black;
  }
  .sosmed__list li a:hover {
    color: white;
    text-decoration: none;
    background-color: black;
    box-shadow: 0px 10px 20px #3e3c3c7a;
  }
  .sosmed__list li a i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .sidebar__navbar {
    
    height: 200%;
    position: fixed; 
    margin-top: -40px;
    background-color: #ff9642;
    box-shadow: 0px 0px 20px 1px #cacaca;
    width: 0;
    left: -100%;
    z-index: 999;
    transition: 0.5s ease;
    /*clip-path: polygon(0 0, 50% 0, 84% 38%, 84% 66%, 56% 100%, 1% 100%, 0% 80%, 0 52%);*/
    }
      @media screen and (max-width: 768px) {
        .sidebar__navbar div {
          z-index: 99;
        }
    }
      @media screen and (max-width: 768px) {
        .sidebar__navbar span {
          position: fixed;
          left: -100%;
          transition: 0.5s ease;
        }
  }
  .sidebar__navbar.active {
    width: 250px !important;
    left: 0;
  }
  @media screen and (max-width: 768px) {
    .sidebar__navbar.active span {
      content: "";
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 40;
      background-color: #0808081f;
    }
  }
  .sidebar__content {
    transition: 0.5s ease;
  }
  .sidebar__side {
    background-color:   #fffce7;
    box-shadow: 0px 0px 20px 1px #cacaca;
    border-bottom: 1px solid #b1b1b1;
  }
  .sidebar__list--menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar__list--menu li {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .sidebar__list--menu li a {
    padding: 6px 6px;
    color: white;
    display: inline-block;
    width: 100%;
  }
  .sidebar__list--menu li a.active {
    background-color: #ffffff26;
    border-radius: 33px;
  }
  .sidebar__list--menu li:hover a {
    color: white;
    text-decoration: none;
    background-color: #ffffff26;
    border-radius: 33px;
  }
  
  .sidebar__navbar.active ~ .sidebar__content {
    margin-left: 250px;
    transition: 0.5s ease;
    }
      @media screen and (max-width: 768px) {
        .sidebar__navbar.active ~ .sidebar__content {
          margin-left: 0;
      }
  }
  
  .navabar__menu {
    
    width: 40px;
    height: 40px;
    color: white;
    /*background-color: #ff9642;*/
    background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
    font-size: 18px;
    border-radius: 5px;
  }
  .navabar__menu i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navabar__menu:hover, .navabar__menu:focus {
    color: white;
  }
  
  .brand__sidebar {
    color: #313131;
  }
  
  .Input:focus{
    border-color:#ff9642;
}

/****************Login*********************/


.navbar .sign-up-btn {
	min-width: 110px;
	max-height: 36px;
}
.navbar .dropdown-menu {
  color: #000;
  
	font-weight: normal;
	border-radius: 15px;
	border-color: #e5e5e5;
  box-shadow: 1px 5px 10px 0px #1111116c;
}
.navbar a, .navbar a:active {
	color: #ff9642;
	padding: 8px 20px;
	background: transparent;
	line-height: normal;
}
.navbar .navbar-form {
	border: none;
}
.navbar .action-form {
	width: 280px;
	padding: 20px;
	left: auto;
	right: 0;
	font-size: 14px;
}
.navbar .action-form a {		
	color: #000;
	padding: 0 !important;
	font-size: 14px;
}
.navbar .action-form .hint-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 13px;
}
.navbar .btn-primary, .navbar .btn-primary:active {
	border: none;
}	
.navbar .btn-primary:hover, .navbar .btn-primary:focus {		
	color: #000;
	background: #f8f5dd !important;
}
.navbar .social-btn .btn, .navbar .social-btn .btn:hover {
	color: #fff;
	margin: 0;
	padding: 0 !important;
	font-size: 13px;
	border: none;
	transition: all 0.4s;
	text-align: center;
	line-height: 34px;
	width: 47%;
	text-decoration: none;
}
.navbar .social-btn .facebook-btn {
	background: #507cc0;
}
.navbar .social-btn .facebook-btn:hover {
	background: #4676bd;
}
.navbar .social-btn .google-btn {
	background: #F74933;
}
.navbar .social-btn .google-btn:hover {
	background: #f8462f;
}
.navbar .social-btn .btn i {
	margin-right: 5px;
	font-size: 16px;
	position: relative;
	top: 2px;
}
.or-seperator {
	margin-top: 32px;
	text-align: center;
	border-top: 1px solid #e0e0e0;
}
.or-seperator b {
	color: #666;
	padding: 0 8px;
	width: 30px;
	height: 30px;
	font-size: 13px;
	text-align: center;
	line-height: 26px;
	background: #fff;
	display: inline-block;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	position: relative;
	top: -15px;
	z-index: 1;
}
.navbar .action-buttons .dropdown-toggle::after {
	display: none;
}
.form-check-label input {
	position: relative;
	top: 1px;
}
.form-control{
  text-align: right;
  background-color: #fff;
}

