<!DOCTYPE html>

<body>
    <table style="width:100%" border="1px">
        <tr>
          <td rowspan="2">Firstname</th>
          <th>Lastname</th>

          <th>Age</th>
          <t rowspan="2">Firstname</th>

        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
        </tr>
        <tr>
          <td>Eve</td>
          <td>Jackson</td>
          <td>94</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
          </tr>
      </table>


</body>
</html>
