
.navbar .sign-up-btn {
	min-width: 110px;
	max-height: 36px;
}
.navbar .dropdown-menu {
  color: #000;
  
	font-weight: normal;
	border-radius: 15px;
	border-color: #e5e5e5;
  box-shadow: 1px 5px 10px 0px #1111116c;
}
.navbar a, .navbar a:active {
	color: #ff9642;
	padding: 8px 20px;
	background: transparent;
	line-height: normal;
}
.navbar .navbar-form {
	border: none;
}
.navbar .action-form {
	width: 280px;
	padding: 20px;
	left: auto;
	right: 0;
	font-size: 14px;
}
.navbar .action-form a {		
	color: #000;
	padding: 0 !important;
	font-size: 14px;
}
.navbar .action-form .hint-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 13px;
}
.navbar .btn-primary, .navbar .btn-primary:active {
	border: none;
}	
.navbar .btn-primary:hover, .navbar .btn-primary:focus {		
	color: #000;
	background: #f8f5dd !important;
}
.navbar .social-btn .btn, .navbar .social-btn .btn:hover {
	color: #fff;
	margin: 0;
	padding: 0 !important;
	font-size: 13px;
	border: none;
	transition: all 0.4s;
	text-align: center;
	line-height: 34px;
	width: 47%;
	text-decoration: none;
}
.navbar .social-btn .facebook-btn {
	background: #507cc0;
}
.navbar .social-btn .facebook-btn:hover {
	background: #4676bd;
}
.navbar .social-btn .google-btn {
	background: #F74933;
}
.navbar .social-btn .google-btn:hover {
	background: #f8462f;
}
.navbar .social-btn .btn i {
	margin-right: 5px;
	font-size: 16px;
	position: relative;
	top: 2px;
}
.or-seperator {
	margin-top: 32px;
	text-align: center;
	border-top: 1px solid #e0e0e0;
}
.or-seperator b {
	color: #666;
	padding: 0 8px;
	width: 30px;
	height: 30px;
	font-size: 13px;
	text-align: center;
	line-height: 26px;
	background: #fff;
	display: inline-block;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	position: relative;
	top: -15px;
	z-index: 1;
}
.navbar .action-buttons .dropdown-toggle::after {
	display: none;
}
.form-check-label input {
	position: relative;
	top: 1px;
}
.form-control{
  text-align: right;
  background-color: #fff;
}
.face {
    background-color: rgb(20, 102, 179);
    display: inline-flex;
    /* align-items: center; */
    color: rgb(255 255 255);
    width: 50px;
    font-size: 18px;
    /* font-weight: 500; */
    font-family: Roboto, sans-serif;
    padding: 16px;
    margin-left: 10px;
    border: none !important;
    /* text-align: center !important; */
    justify-content: center;
	border-radius: 50%;
	margin-left: 60px;
}



.google{
	width: 50px;
	margin-left:30px;
	border-radius: 50% !important;
	padding: 5px !important;
}